---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2023."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2023</h1>
						<h4 class="text-left">Celebrating SMB's 50th Anniversary at <strong>The Ohio State University</strong> (Columbus, Ohio)</h4>
						
						</br></br>
						<hr>
						</br>
					
						
						<h1 class="text-left">Bulletin of Mathematical Biology Q&A</h1>
						<h4 class="text-left">BMB's Editorial team and the Publications Committee of SMB</h4>
						<p class="text-left"> Please grab a quick lunch and meet back at <strong>12:50pm</strong> for a brief presentation (12:50pm-1:30pm) on the Bulletin of Mathematical Biology, followed by a Q & A session.  This session gives authors and potential authors an opportunity to interact with the editorial team from the journal and with the Publications Committee of the society. Students interested in signing up to the referee database should come along too!</p>
						
						
						{% include footer.html %}	
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













