---
title: "Columbus Activities"
layout: default
pagination:
    enabled: false
description: "Local activities in Columbus during The Society for Mathematical Biology Annual Meeting 2023."
---

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2023</h1>
						<h4 class="text-left">Celebrating SMB's 50th Anniversary at <strong>The Ohio State University</strong> (Columbus, Ohio)</h4>
						
						</br></br>
						<hr>
						</br>
					
						<h1 class="text-left">Columbus Activities:</h1>
						<p class="text-left">The following is a list of activities during the Society for Mathematical Biology annual meeting.</p>
						
						
						<div class="row text-left">
							
						  <div class="col-12 text-left">
							  
							  	
								</br></br>
								<hr>
								</br></br>
								
								<h3 class="text-left"><a href="https://www.columbus.gov/publichealth/programs/Healthy-Places/Columbus-Art-Walks/" class="bright" target="_blank">Art Walks</a></h3>
								<p>
									Columbus Art Walks are self-guided walking maps and audio tours of several districts in Columbus. The maps direct you to sites while recorded messages tell you about each one. The phone number has a recording with information about each site on the map. Please call the main number (614) 645- 2646 and enter the 3-digit extension number to hear specific site information. The majority of the routes are accessible and flat.
								</p>
								</br></br>
								<hr>
								</br></br>
								
								
								<!-- activity: -->
								<h3 class="text-left"><a href="https://www.columbus.gov/recreationandparks/trails/olentangy-trail/" class="bright" target="_blank">Olentangy Trail</a></h3>
								<p>
									The Olentangy Trail offers a seamless route from Worthington to downtown Columbus. This trail winds through several neighborhoods along the Olentangy River, with trailheads at several major city parks, including Antrim Park and Whetstone Park. The path also travels through the heart of the Ohio State University campus.
								</p>
								</br></br>
								<hr>
								</br></br>
								
								<!-- activity: -->
								<h3 class="text-left"><a href="https://cosi.org/" class="bright" target="_blank">COSI</a></h3>
								<p>
									COSI is a nationally esteemed science center that has delighted Central Ohio with all things science for 58 years, inspiring interest in science, technology, engineering, and math (STEM) topics and delivering our experiential, "hands-on fun" brand of learning. Note: COSI is a member of the ASTC Travel Passport Program.
								</p>
								</br></br>
								<hr>
								</br></br>


								<!-- activity: -->
								<h3 class="text-left"><a href="https://shortnorth.org/" class="bright" target="_blank">Short North</a></h3>
								<p>
									Known as the art and soul of Columbus, the culturally rich Short North Arts District is a pioneer in the urban revitalization of Central Ohio. Visitors are invited to explore our vibrant neighborhood known for its wide variety of amazing art, dining, nightlife, fashion, home décor, and unique gifts.
								</p>
								</br></br>
								<hr>
								</br></br>
								
								<!-- activity: -->
								<h3 class="text-left"><a href="https://undergrad.osu.edu/updates/campus-visits" class="bright" target="_blank">OSU Self Guided Tour</a></h3>
								<p>
									The university's main campus is one of America's largest and most comprehensive. As Ohio's best and one of the nation's top-20 public universities, Ohio State is further recognized by a top-rated academic medical center and a premier cancer hospital and research center. As a land-grant university, Ohio State has a physical presence throughout the state, with campuses and research centers located around Ohio.
								</p>
								</br></br>
								<hr>
								</br></br>
								
								<!-- activity: -->
								<h3 class="text-left"><a href="https://grange.audubon.org/" class="bright" target="_blank">Audubon Center</a></h3>
								<p>
									The Grange Insurance Audubon Center is a sanctuary for nature lovers and bird watchers. Just a 15-minute walk from downtown Columbus and nestled in the Scioto Audubon Metro Park, a 120-acre stretch that attracts more species of birds than any other stretch along the Scioto River – including Bald Eagles, and is a designated Important Birding Area. Admission is free.
								</p>
								</br></br>
								<hr>
								</br></br>
								
								<!-- activity: -->
								<h3 class="text-left"><a href="https://www.metroparks.net/parks-and-trails/scioto-audubon/" class="bright" target="_blank">Scioto Audubon Park</a></h3>
								<p>
									Set amid a once industrial landscape, Scioto Audubon has been transformed from a blighted brownfield into a green oasis where wildlife and birds thrive and flourish. The 120-acre park is a recreational and educational destination for visitors of all ages, including an area for rock climbing.
								</p>
								</br></br>
								<hr>
								</br></br>



								<!-- activity: -->
								<h3 class="text-left"><a href="https://www.metroparks.net/" class="bright" target="_blank">Metro Parks</a></h3>
								<p>
									Columbus and Franklin County Metro Parks (Metro Parks) is a public agency serving the citizens of central Ohio by providing a regional system of clean, safe, natural area parks. Metro Parks features 20 outstanding natural area parks with more than 230 miles of trails and over 28,500 acres of land in seven central Ohio counties.
								</p>
								</br></br>
								<hr>
								</br></br>


								<!-- activity: -->
								<h3 class="text-left"><a href="https://www.ohiostatehouse.org/visit/public-tours" class="bright" target="_blank">Ohio Statehouse self-guided and guided tours</a></h3>
								<p>
									The Capitol Square complex includes the Ohio Statehouse, Senate Building and Atrium. The buildings are not only working government offices but a magnificent monument to the people and the period during which Ohio's democracy was founded and formed.
								</p>
								</br></br>
								<hr>
								</br></br>
								
								<!-- activity: -->
								<h3 class="text-left">Neighborhood walking maps:</h3>
								<p>
									<ul>
										<li><a href="https://www.columbus.gov/publichealth/programs/Healthy-Places/Walking-in-Columbus/" class="bright" target="_blank">Walking in Columbus</a></li>
										<li><a href="https://www.columbus.gov/publichealth/programs/Healthy-Places/Neighborhood-Walking-Maps/" class="bright" target="_blank">Neighborhood Walking Maps</a></li>
										<li><a href="https://www.columbus.gov/uploadedFiles/Public_Health/Content_Editors/Planning_and_Performance/Healthy_Places/University_Area_Walking_Map_Printable.pdf" class="bright" target="_blank">University Area printable map</a></li>
									</ul>
								</p>
								</br></br>
								<hr>
								</br></br>
								
								
								<!-- activity: -->
								<h3 class="text-left"><a href="https://www.columbus.gov/publichealth/programs/Healthy-Places/Biking-in-Columbus/" class="bright" target="_blank">Biking maps, including Columbus Art Rides:</a></h3>
								
								</br></br>
								<hr>
								</br></br>
								
								
								<!-- activity: -->
								<h3 class="text-left">GPSMyCity</h3>
								<p>
									GPSMyCity has a couple of self guided walking tours:
									<ul>
										<li><a href="https://www.gpsmycity.com/tours/german-village-walk-5729.html" class="bright" target="_blank">German village walk</a></li>
										<li><a href="https://www.gpsmycity.com/tours/columbus-introduction-walking-tour-6797.html" class="bright" target="_blank">Columbus introduction walking tour</a></li>
									</ul>
										
								</p>
								</br></br>
								<hr>
								</br></br>


								<!-- activity: -->
								<h3 class="text-left"><a href="https://www.fpconservatory.org/" class="bright" target="_blank">Franklin Park Conservatory</a></h3>
								<p>
									Franklin Park Conservatory and Botanical Gardens offers world-class horticulture, art and nature-based exhibitions and educational programs for all ages. Situated on 40 acres on the eastern side of Franklin Park, the Conservatory features the historic 1895 John F. Wolfe Palm House, 83,000 square feet of glasshouses, botanical gardens and meeting and event spaces. The Conservatory is home to internationally recognized light artist James Turrell’s Light Raiment II, which illuminates the John F. Wolfe Palm House every evening from dusk until dawn.
								</p>
								</br></br>
								<hr>
								</br></br>
								
								<!-- activity: -->
								<h3 class="text-left"><a href="https://parkofroses.org/" class="bright" target="_blank">Park of Roses</a></h3>
								<p>
									The Columbus Park of Roses is one of the largest public rose gardens in the U.S. with more than 12,000 rose specimens. The garden’s extensive variety of plantings and more than one mile of paved walkways with benches make the Columbus Park of Roses an setting with year-round appeal for visitors. The 13-acre garden is an accredited arboretum and features five horticultural themes.
								</p>
								</br></br>
								<hr>
								</br></br>
								
								<!-- activity: -->
								<h3 class="text-left"><a href="https://www.experiencecolumbus.com/neighborhoods/german-village-and-brewery-district/" class="bright" target="_blank">German Village & Brewery District</a></h3>
								<p>
									Just south of downtown Columbus lies German Village, one of the most idyllic neighborhoods in the country. Built by German settlers hundreds of years ago, the area is defined by its brick homes and shops, as well as brick-lined streets. Historic charm and modern tweaks exist side by side here. Peruse local businesses that include delicious pastry and coffee shops, the truly unique 32-room Book Loft , free Shakespeare at the neighborhood’s Schiller Park  and beautiful holiday lights and markets during the winter.
								</p>
								<p>
The Brewery District can be found west of German Village, a nook of the city that became home to Columbus’ bustling beer scene. Today, it’s full of lively entertainment and dining options, including bars that are local favorites along High Street, as well as Shadowbox Live! , the country’s largest resident theater company. 
								</p>
								</br></br>
								<hr>
								</br></br>
								
								<!-- activity: -->
								<h3 class="text-left">Cool campus spots</h3>
								<p>
									<ul>
										<li>Biosci greenhouse</li>
										<li>Orton hall museum and library</li>
										<li>Math department floors</li>
										<li>Knowlton rooftop garden</li>
										<li>Chadwick arboretum</li>
										<li>Thompson library floors and view from the top lounge</li>
										<li>Cartoon library</li>
										<li>Mirror lake</li>
									</ul>
								</p>
								
							</div>							
						</div>
						
						{% include footer.html %}	
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













