---
title: "Frequently Asked Questions"
layout: default
pagination:
    enabled: false
description: "Frequently Asked Questions for The Society for Mathematical Biology Annual Meeting 2023."
---


<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2023</h1>
						<h4 class="text-left">Celebrating SMB's 50th Anniversary at <strong>The Ohio State University</strong> (Columbus, Ohio)</h4>
						
						</br></br>
						<hr>
						</br>
					
						<h1 class="text-left">Frequently Asked Questions:</h1>
						
						
						<div class="row text-left">
						  <div class="col-12 text-left">	
						  		</br>
						  		<h3 class="text-left"><strong class="bright">Q</strong>. What is included with my registration?</h3>
						  		</br>	
						  		
						  		<p>In addition to attendance at all scientific sessions during the meeting, your SMB meeting registration includes all of the following:</p>
						  		<ul>
							  		<li>Opening reception with hors d’oeuvres and drink tickets on Sunday evening</li>
							  		<li>Buffet lunch served Monday through Thursday, with pastries available for breakfast on Friday</li>
							  		<li>Receptions during the poster sessions on Monday and Thursday evenings with hors d’oeuvres and drink tickets</li>
							  		<li>Banquet dinner on Wednesday evening</li>
							  		<li>Coffee, tea, and snacks during meeting breaks</li>
							  		<li>Access to the exhibition hall</li>
							  		<li>Cool conference swag!</li>
						  		</ul>
						  		
						  		</br>
						  		<h3 class="text-left"><strong class="bright">Q</strong>. What are the dimensions for posters at the poster session?</h3>
						  		</br>	
						  		
						  		<p>Each poster will be allotted a foamcore board that is 60" wide x 40" high. Posters should be designed to fit within this space.</p>
						  		
						  		
						  		</br>
						  		<h3 class="text-left"><strong class="bright">Q</strong>. What technology will be available in the meeting rooms to present talks?</h3>
						  		</br>	
						  		<p>Each meeting room will be equipped with HDMI and VGA adapters to allow participants to connect their own devices to the projectors. Participants who will not be bringing their own laptops should bring their talks on a flash drive for transfer to a laptop for presentation.</p>
						  		
						  		</br>
						  		<h3 class="text-left"><strong class="bright">Q</strong>. I have registered for a conference tour.  Where should I meet the bus?</h3>
						  		</br>	
						  		<p>Busses will pick participants up outside of the Ohio Union (the conference venue). We will provide specific information to those who are registered for the conference tours.</p>
						  		
						  		</br>
						  		<h3 class="text-left"><strong class="bright">Q</strong>. What activities outside of the conference does OSU/Columbus have to offer?</h3>
						  		</br>	
						  		
						  		<p>Columbus has a variety of activities available for conference participants to take advantage. <a class="bright" href="{{site.baseurl}}/columbus-activities">Here is a list of popular activities, with links to additional information</a>.</p>
						  		
						  		</br>
						  		<h3 class="text-left"><strong class="bright">Q</strong>. How long are contributed talks?</h3>
						  		</br>	
						  		
						  		<p>Contributed talks will be held in 15-minute time periods. Speakers should plan to speak for 12 minutes, with 3 minutes for questions and speaker transitions.</p>
						  		
						  		</br>
						  		<h3 class="text-left"><strong class="bright">Q</strong>. How do I connect to Wi-Fi?</h3>
						  		</br>
						  		
						  		<p>OSU will have two ways to connect to free Wifi: eduroam and Guest Wifi. Please visit <a href="https://wireless.osu.edu/" class="bright">https://wireless.osu.edu/</a> for more information.</p>
						  		
						  								  										
							</div>
							
						</div>
						
						
						
						{% include footer.html %}	
						
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













