---
title: "Local Accommodations"
layout: default
pagination:
    enabled: false
description: "Local Accommodations for The Society for Mathematical Biology Annual Meeting 2023."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2023</h1>
						<h4 class="text-left">Celebrating SMB's 50th Anniversary at <strong>The Ohio State University</strong> (Columbus, Ohio)</h4>
						
						</br></br>
						<hr>
						</br>
					
						<h1 class="text-left">Local Accommodations:</h1>
						
						
						<div class="row text-left">
							
							
						  <div class="col-12 text-left">	
						  		
						  		<h3 class="text-left"><a href="https://www.theblackwell.com" class="bright">Blackwell Inn</a>:</h1>			
								<p>
									<strong>(Est. Travel time: 15min on foot)</strong></br>
									2110 Tuttle Park Place, Columbus, OH 43210</br>
									(614) 247-4000</br>
									Negotiated Rate: $162 plus tax per night. When calling the hotel to make the reservation, please request the rate for "OSU Math-Biology Conference." This special rate is available by phone only (cannot be booked online at the special rate).</br>
									<a href="https://www.theblackwell.com" class="bright">Website</a>
								</p>
						  		<hr>
						  		
						  		<h3 class="text-left"><a href="https://www.hyatt.com/en-US/hotel/ohio/hyatt-house-columbus-osu-short-north/cmhxo?corp_id=g-osum#quickbook" class="bright">Hyatt House</a>:</h1>			
								<p>
									<strong>(Est. Travel time: 27min on foot, or 15min by COTA #22 or #31)</strong></br>
									633 W 5th Ave. Columbus, OH 43201, USA </br>
									T +1 614 298 1299</br>
									$189+ tax per night</br>
									<a href="https://www.hyatt.com/en-US/hotel/ohio/hyatt-house-columbus-osu-short-north/cmhxo?corp_id=g-osum#quickbook" class="bright">OSU Mathematics Conference - Hyatt House OSU Booking Link</a>
								</p>
								<hr>
								
						  		<h3 class="text-left"><a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1673470195234&key=GRP&app=resvlink" class="bright">Moxy Columbus Short North</a>:</h1>			
								<p>
									<strong>(Est. Travel time: 28min on foot, or 12min by COTA #1 or #2)</strong></br>
									808 N High St, Columbus, OH 43215</br>
									(614) 412-7664</br>
									$179 - $199 per night
									<a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1673470195234&key=GRP&app=resvlink" class="bright">Book your group rate for SMB2023 Group</a>
								</p>
								<hr>
								
								<h3 class="text-left"><a href="" class="bright">SpringHill Suites by Marriott Columbus OSU</a>:</h1>			
								<p>
									<strong>(Est. Travel time: 29min on foot, or 15 min by COTA #22 or #31)</strong></br>
									1421 Olentangy River Rd, Columbus, OH 43212</br>
									(614) 297-9912</br>
									<a href="" class="bright">Booking Link: (Available soon).</a>
								</p>
								<hr>
								
								<h3 class="text-left"><a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/columbus/cmhol/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-US-_-CMHOL" class="bright">Holiday Inn Express & Suites Columbus OSU-Medical Center</a>:</h1>			
								<p>
									<strong>(Est. Travel time: 15min by COTA #1)</strong></br>
									3045 Olentangy River Rd, Columbus, OH 43202</br>
									(614) 447-1212</br>
									<a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/columbus/cmhol/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-US-_-CMHOL" class="bright">Website</a>
								</p>
								<hr>

								<h3 class="text-left"><a href="https://www.ihg.com/staybridge/hotels/us/en/columbus/cmhsb/hoteldetail?cm_mmc=GoogleMaps-_-SB-_-US-_-CMHSB" class="bright">Staybridge Suites Columbus OSU-Medical Center</a>:</h1>			
								<p>
									<strong>(Est. Travel time: 15min by COTA #1)</strong></br>
									3125 Olentangy River Rd, Columbus, OH 43202</br>
									(614) 262-6900</br>
									<a href="https://www.ihg.com/staybridge/hotels/us/en/columbus/cmhsb/hoteldetail?cm_mmc=GoogleMaps-_-SB-_-US-_-CMHSB" class="bright">Website</a>
								</p>
								<hr>
								
								<h3 class="text-left">OSU dormitory accommodations (FULL):</h1>			
								<p>
									<strong>(Est. Travel time: 4 min on foot)</strong></br>
									Dormitory accommodations have now reached capacity.</br>
									Address: <a href="https://www.osu.edu/map/building/267" class="bright">Jones Tower</a>, 123 W Lane Ave, Columbus, OH 43210) (to be confirmed)</br>
									Rate: Approx. $62 per night for single rooms with private baths.</br>
									<a href="https://housing.osu.edu/roomsearch/jones-tower" class="bright">360 virtual tour and floorplan</a> (scroll to the bottom of the page)</br>
								</p>
								
							</div>
							
						</div>
						
						
						</br></br></br>
						<hr>
						</br></br></br>
						
												
						<h1 class="text-left">Transportation information:</h1>
						
						
						<div class="row text-left">
							
							
							<div class="col-12 text-left">	
						  		
						  		<h3 class="text-left"><a href="https://flycolumbus.com/">John Glenn International Airport</a>:</h3>			
								<p>
									The closest airport to Ohio State's Columbus campus is the  <a href="https://flycolumbus.com/" class="bright">John Glenn International Airport</a>. John Glenn International Airport is an international airport located 6 miles (10 kilometers) east of downtown Columbus. John Glenn International Airport is primarily a passenger airport, providing over 190 non-stop flights to roughly 44 airports via 15 airlines daily. The airport code for John Glenn International is 'CMH'.
								</p>
								
								<h3 class="text-left">Transportation to & from airport:</h3>	
								<p>
									The quickest way is to utilize taxi services to and from the John Glenn International Airport. The approximate fare one way from the Ohio State Columbus Campus is $25-30, but some variations may occur due to wait time, traffic, etc. Numbers of a few area taxi services are: Blue Cab: (614) 333-3333 ; Yellow Cab: (614) 444-4444. Columbus is a city that is served by peer to peer ride sharing like Uber and Lyft.  Ride costs vary by a range of factors including demand. 
								</p>
								<p>
You may also use the publication transportation. For most accurate directions, please refer to the webpage <a href="https://www.cota.com/" class="bright">https://www.cota.com/</a> of Central Ohio Transit Authority (COTA). 
								</p>
								<h3 class="text-left">Driving directions:</h3>
								<p>
									Driving directions to the Ohio Union can be found on OSU's website, <a href="https://ohiounion.osu.edu/visiting/directions_and_parking/" class="bright">here</a>. The Ohio Union is located at 1739 N. High Street at the corner of 12th Avenue and High Street.  
								</p>
								
								<h3 class="text-left">Visitor parking on campus:</h3>
								<p>
									Visitors may park in this garage for access to the Ohio Union. Information about parking for visitors and the associated rates can be found through <a href="http://osu.campusparc.com/" class="bright">CampusParc</a>.
								</p>
								<h3 class="text-left">Free shuttles within campus:</h3>
								<p>
									The campus bus system CABS offers free transportation within campus. The schedule and live status of busses can be obtained using the Ohio State App. (<a href="https://apps.apple.com/us/app/ohio-state/id446442963">Download Ohio State App for iOS</a>; <a href="https://play.google.com/store/apps/details?id=edu.osu.osumobile" class="bright">Download Ohio State App for Android</a>)

								</p>
								
							</div>
						</div>
						
						</br></br></br>
						<hr>
						</br></br></br>
						
						<h1 class="text-left">International travelers:</h1>
						<div class="col-md-12 text-left">
							<p class="text-left">International participants requiring a letter confirming participation in the meeting should submit an email request including their <strong>full name, birthdate and place of birth</strong> to  <a href="mailto:smb2023@osu.edu" class="bright">smb2023@osu.edu</a> with the subject line "<strong>Letter of participation for international scholar</strong>". </p>
								<h3 class="text-left">Local contact information:</h3>
								Laura Kubatko</br>
								smb2023@osu.edu</br>
								1-614-843-5195</br>
								219 Cockins Hall</br>
								1958 Neil Avenue</br>
								Columbus, OH 43210
								</p>
								 
								
							</div>
						
						{% include footer.html %}	
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













