---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2023."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2023</h1>
						<h4 class="text-left">Celebrating SMB's 50th Anniversary at <strong>The Ohio State University</strong> (Columbus, Ohio)</h4>
						
						</br></br>
						<hr>
						</br>
					
						
						<h1 class="text-left">Registration</h1>
						<div class="row text-left">
						  <div class="col-12 text-left">				
								

									<p class="bright-links">Those wanting to register should email <a href="mailto:smb2023@osu.edu" class="bright">smb2023@osu.edu</a> with the subject CONFERENCE REGISTRATION  all in caps.</p>
										
												
<!--
									<div class="table-responsive text-left">
									  <table class="table table-sm table-bordered table-hover text-left main-schedule-table">
										  <tbody>
											  <tr>
												  <td style="width: 25%; padding-top: 25px; padding-bottom: 25px;" class="white-button" align="center"></td>
										      	<td style="width: 50%; padding-top: 25px; padding-bottom: 25px;" class="osu-button" align="center"><a href="https://go.osu.edu/smb2023registration" target="_blank"><h4 style="margin-bottom: -10px;">Conference registration</h4></br>(Click to view form)</a></td>
										      	<td style="width: 25%; padding-top: 25px; padding-bottom: 25px;" class="white-button" align="center"></td>

										    </tr>
										  </tbody>
									  </table>
									</div>
-->
							</div>
						</div>
						
						</br></br>
						<hr>
						</br>
						
						<h4 class="text-left">Registration costs:</h4>
						
						
						<div class="row text-left">
						  	<div class="col-12 text-left">	
						  		
						  		<table class="table table-striped">
								  <thead>
								    <tr>
								      <th scope="col">Registration type</th>
								      <th scope="col">Cost</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <th scope="row">Regular registration</th>
								      <td>$650</td>
								    </tr>
								    <tr>
								      <th scope="row">Regular member registration</th>
								      <td>$550</td>
								    </tr>
								    <tr>
								      <th scope="row">Student registration</th>
								      <td>$550</td>
								    </tr>
								    <tr>
								      <th scope="row">Student member registration</th>
								      <td>$450</td>
								    </tr>
								  </tbody>
								</table>
						  				
								<p class="bright-links">									      
									** Early bird registration has now ended.
								</p>
								
								<p class="bright-links">
									<strong>Excursions:</strong>All three of the excursions have reached capacity.  There is the opportunity to add your name to the waitlist at registration.
								</p>
								
								<p class="bright-links"><strong>Dormitory housing</strong>:  Dormitory housing has reached capacity.</p>

							</div>
						</div>
						
						</br></br>
						<hr>
						</br>
						
						<h4 class="text-left">Refund requests:</h4>
						
						<div class="row text-left">
						  	<div class="col-12 text-left">	
						  		
						  				
								<p class="bright-links">									      
									Deadline to request a refund is July 1.  If you are no longer able to attend the meeting, please email <a href="mailto:smb2023@osu.edu">smb2023@osu.edu</a> as soon as possible and no later than July 1 to request a refund. Requests received near the July 1 deadline may not be processed until after the meeting ends.
								</p>
								
							</div>
						</div>
						
						
						
						{% include footer.html %}
						
						
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













