---
title: "Local Accommodations"
layout: default
pagination:
    enabled: false
description: "Local Accommodations for The Society for Mathematical Biology Annual Meeting 2023."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2023</h1>
						<h4 class="text-left">Celebrating SMB's 50th Anniversary at <strong>The Ohio State University</strong> (Columbus, Ohio)</h4>
						
						</br></br>
						<hr>
						</br>
					
						<h1 class="text-left">Special Events:</h1>
						<p class="text-left">The following is a list of special events occurring in conjunction with SMB 2023. Special events are listed in chronological order.</p>
						
						
						<div class="row text-left">
							
							
						  <div class="col-12 text-left">
							  
							  	</br></br>
								<hr>
								</br>
						  		
						  		<h3 class="text-left"><a href="https://sites.google.com/d.umn.edu/dsls2023/home" class="bright" target="_blank">Dynamical Systems in the Life Sciences</a>:</h3>			
								<p>
									July 13-15, 2023</br>
									The Ohio State University, Columbus, Ohio</br>
									<a href="https://sites.google.com/d.umn.edu/dsls2023/home" class="bright" target="_blank">Website</a></br>
									<a href="https://forms.gle/85oMQMwcigTytxof7" class="bright" target="_blank">Registration (Deadline May 15)</a>
									
								</p>	
							  
							  	<a id="mentor-lunch"></a>
							  	</br></br>
								<hr>
								</br>
						  		
						  		<h3 class="text-left"><a href="special-events.html#mentor-lunch" class="bright">Mentoring Lunch</a>:</h3>			
								<p>Monday, July 17, 2023 at 12:30pm</br>
									Those who signed up for the Mentoring Program during registration will meet in a designated area for lunch.</p>
								
								<a id="diversity-lunch"></a>
							  	</br></br>
								<hr>
								</br>
						  		
						  		<h3 class="text-left"><a href="special-events.html#diversity-lunch" class="bright">Diversity Lunch</a>:</h3>			
								<p class="text-left">Tuesday, July 18, 2023 at 12:30pm</br>
									Those who indicated their interest in participating in the Diversity Lunch during registration will meet in a designated area for lunch. Funding for the Diversity Lunch generously provided by Journal of Theoretical Biology and Mathematical Biosciences.
									
									</br></br>
									<div class="row">
										<div class="col-8">
											<img src="{{site.baseurl}}/assets/images/diversity-lunch.png">	
										</div>
									</div>
								</p>

								<a id="BMB"></a>
							  	</br></br>
								<hr>
								</br>
						  		
						  		<h3 class="text-left"><a href="special-events.html#BMB" class="bright">Bulletin of Mathematical Biology Q&A</a>:</h3>			
								<h4 class="text-left">BMB's Editorial team and the Publications Committee of SMB</h4>
								<p>Tuesday, July 18, 2023 at 12:50pm</br>
									<strong>Location</strong>: Ohio Staters Traditions Room (#2120)</br>
									Please grab a quick lunch and meet back at <strong>12:50pm</strong> for a brief presentation (12:50pm-1:30pm) on the Bulletin of Mathematical Biology, followed by a Q & A session.  This session gives authors and potential authors an opportunity to interact with the editorial team from the journal and with the Publications Committee of the society. Students interested in signing up to the referee database should come along too! Room TBD.</p>
								
								
								<a id="sim-plus"></a>
								</br></br>
								<hr>
								</br></br>
								
								
								<h3 class="text-left"><a href="https://www.simulations-plus.com/events/an-introduction-to-mathematical-modeling-in-drug-development-using-gastroplus-and-dilisym/" class="bright" target="_blank">An Introduction to Mathematical Modeling in Drug Development Using GastroPlus® and DILIsym®</a>:</h3>
								<h5>Live Workshop: Simulations Plus</h5>
								<p>
								Jul. 18th (6:00-8:00pm local time/EST), 2023</br>
								<strong>Location</strong>: Archie M. Griffin West Ballroom</br>
								Columbus, OH (The Ohio State University)
								</p>


								<a id="NSF"></a>
							  	</br></br>
								<hr>
								</br>
						  		
						  		<h3 class="text-left"><a href="special-events.html#NSF" class="bright"> NSF Math Biology Program Directors Presentation</a>:</h3>			
								<p>Wednesday, July 19, 2023 at 12:50pm</br>
									<strong>Location</strong>: Ohio Staters Traditions Room (#2120)</br>
									Please grab a quick lunch and meet back at <strong>12:50pm</strong> for a brief presentation (12:50pm-1:20pm) of funding opportunities related to the NSF Math Biology program, followed by a Q&A with NSF Program Directors.  Room TBD.</p>
							  

							  	
								<a id="NIAID"></a>
								</br></br>
								<hr>
								</br></br>
								
								<h3 class="text-left"><a href="https://docs.google.com/document/d/e/2PACX-1vQr8HtvfXoreOtMTdGSZ7Tzp2C5YQ6mwISmO6U-v2xy2_m8mcM09T-GQO-hOmIpTkUcw7WXOiH7sqQe/pub" class="bright" target="_blank">NIAID|SMB Workshop</a>:</h3>
								<h5>Bridging multiscale modeling and practical clinical applications in infectious diseases</h5>
						  		<p>
									July 19th (1-5pm local time/EST), 2023</br>
									<strong>Location</strong>: Great Hall Meeting Room 3</br>
									<a href="https://docs.google.com/document/d/e/2PACX-1vQr8HtvfXoreOtMTdGSZ7Tzp2C5YQ6mwISmO6U-v2xy2_m8mcM09T-GQO-hOmIpTkUcw7WXOiH7sqQe/pub" class="bright" target="_blank">Website</a>
								</p>
								
								
								<a id="AYMP"></a>
								</br></br>
								<hr>
								</br></br>
								
								<h3 class="text-left">Academic Year Mentoring Program new group lunch:</h3>
						  		<p>
									July 20th (12:30pm local time/EST), 2023</br>
									Participants who signed up for the academic year mentoring program will meet in a designated area for lunch.
								</p>
								
								
																
								
																
								
							</div>
							
						</div>
						
						
						</br></br></br>
						<hr>
						</br></br></br>
						
									
 
					
						<h1 class="text-left">Events for Postdocs:</h1>			
						<h3 class="text-left bright">A postdoc Meet ‘n Greet</h3>
						<p class="text-left">
							Sunday, Jul. 16th (7:00pm local time/EST), 2023</br>
							There will be a meet & greet at the welcome reception for current postdocs on Sunday evening. For more information, contact Renee Dale (rdale825@gmail.com ) and Laura Strube (lfstrube@gmail.com).
						</p>
						
						<h3 class="text-left bright">Postdoc lunch tables</h3>
						
						<p class="text-left">
							Thursday, Jul. 20th (12:30pm local time/EST), 2023</br>

							There will be meeting spot for lunch on Monday at the conference. For more information, contact Renee Dale (rdale825@gmail.com ) and Laura Strube (lfstrube@gmail.com).
						</p>
						
						{% include footer.html %}
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













