---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2023."
---


<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2023</h1>
						<h4 class="text-left">Celebrating SMB's 50th Anniversary at <strong>The Ohio State University</strong> (Columbus, Ohio)</h4>
						</br>
						<!-- image -->
						{% include banner.html %}
						
						</br></br>
						<hr>
						</br>
					
						<h1 class="text-left">Important dates:</h1>
						<h4 class="text-left">Sunday, July 16 - Friday July 21, 2023</h4>
						<h4 class="text-left">Location: <a href="https://ohiounion.osu.edu/" class="bright">The Ohio Union</a></h4>
						
						</br></br>
						
						<div class="row text-left">
						  <div class="col-md-7 text-left">				
									<table class="table table-striped text-left">
									  <thead>
									    <tr>
									      <th scope="col">Date</th>
									      <th scope="col">Scheduled Event</th>
									    </tr>
									  </thead>
									  <tbody>
										<tr>
									      <th scope="row">Sunday, July 16</th>
									      <td>Opening Reception (Performance Hall)</td>
									    </tr>
									    <tr>
									      <th scope="row">July 17 –	July 20</th>
									      <td>Full conference days</td>
									    </tr>
									    <tr>
									      <th scope="row">Wednesday, July 19</th>
									      <td>Conference banquet</td>
									    </tr>
									    <tr>
									      <th scope="row">Friday, July 21</th>
									      <td>Conference ends after morning sessions</td>
									    </tr>
									    
									    
									  </tbody>
									</table>
							</div>
							<!-- image -->
							<div class="col-md-5">
								<img class="w-100" src="{{site.baseurl}}/assets/images/osu/osu2.jpg" alt="Picture of conference venue">  
								<p class="text-left">The Ohio Union on the campus of The Ohio State University</p>
							</div>
							
						</div>
						
						
						</br></br>
						<hr>
						</br>
											
						
						<h1 class="text-left">How to navigate this schedule:</h1>
						<p class="text-left">There are multiple ways to navigate the schedule. You may browse by subgroup, below:</p>
						{% include subgroup_menu.html %}
						 	
					 	{% include subgroup_descriptions.html %}
					 	
					 	<p class="text-left">Alternatively, click on any box in the full schedule below to view the full list of parallel tracks (e.g. click "Minisymposium 1" to view all minisymposia at that time).</p>
					 	
					 	
					 	
					 	</br>
						<hr>
						</br>
				
						{% include pre-conference.html %}
						
						</br>
						<hr>
						</br>
				
						{% include 24_schedule.html %}	
						
						
						{% include footer.html %}	
						
						
						
						
												
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>












