<!-- large footer for desktop: -->
<footer class="pt-4 my-md-5 pt-md-5 border-top d-none d-md-inline">
	</br></br>
	<hr>
	</br></br>
	<div class="row">
	  <div class="col-3 col-md-3 text-left">
	  	<div class="text-left">
	        <img src="/assets/images/smb-motion-logo.gif" width="100%" alt="" class="d-inline-block align-middle mr-2"></br></br>
	    	<img src="/assets/images/logo-full.png" width="100%" alt="" class="d-inline-block align-middle mr-2">
	    </div>
	
	  </div>
	  <div class="col-3 col-md-3 text-left">
	    <h5>Organizing committee</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Laura Kubatko, chair</li>
	      <li class="text-muted">Adriana Dawes</li>
	      <li class="text-muted">Mary Ann Horn</li>
	      <li class="text-muted">Janet Best</li>
	      <li class="text-muted">Adrian Lam</li>
	      <li class="text-muted">Grzegorz Rempala</li>
	      <li class="text-muted">Will Gehring</li>
	    </ul>
	  </div>
	  <div class="col-3 col-md-3 text-left">
	    <h5>Scientific organizing committee</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Adriana Dawes</li>
	      <li class="text-muted">Mary Ann Horn</li>
	      <li class="text-muted">Jane Heffernan</li>
	      <li class="text-muted">Hayriye Gulbudak</li>
	    </ul>
	    <h5>Website</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Jeffrey West</li>
	    </ul>
	  </div>
	  <div class="col-3 col-md-3 text-left">
	    <small class="d-block mb-3 text-muted">SMB 2023 is being held on the campus of The Ohio State University. As visitors to campus, all SMB participants must follow The Ohio State University <a href="https://policies.osu.edu/assets/policies/Policy-NDH-Sexual-Misconduct.pdf" style="color: #ff4242">Policy on Non-Discrimination, Harassment, and Sexual Misconduct</a>.</small>
	  </div>
	</div>
</footer>

<!-- Smaller footer for mobile: -->
<footer class="pt-4 my-md-5 pt-md-5 border-top d-md-none">
	<div class="row">
	  <div class="col-10 offset-1 text-left">
	  	<div class="text-left">
		  	</br></br>
	        <img src="/assets/images/smb-motion-logo.gif" width="100%" alt="" class="d-inline-block align-middle mr-2"></br></br></br></br>
	    	<img src="/assets/images/logo-full.png" width="100%" alt="" class="d-inline-block align-middle mr-2">
	    </div>
	
	  </div>
	</div>
	</br>
	</br>
	<div class="row">
	  <div class="col-10 offset-1 text-left">
	    <h5>Organizing committee</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Laura Kubatko, chair</li>
	      <li class="text-muted">Adriana Dawes</li>
	      <li class="text-muted">Mary Ann Horn</li>
	      <li class="text-muted">Janet Best</li>
	      <li class="text-muted">Adrian Lam</li>
	      <li class="text-muted">Grzegorz Rempala</li>
	      <li class="text-muted">Will Gehring</li>
	    </ul>
	    <h5>Scientific organizing committee</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Adriana Dawes</li>
	      <li class="text-muted">Mary Ann Horn</li>
	      <li class="text-muted">Jane Heffernan</li>
	      <li class="text-muted">Hayriye Gulbudak</li>
	    </ul>
	    </br>
	    <h5>Website</h5>
	    <ul class="list-unstyled text-small">
	      <li class="text-muted">Jeffrey West</li>
	    </ul>
	    </br>
	    <hr>
	    </br>
		<small class="d-block mb-3 text-muted">SMB 2023 is being held on the campus of The Ohio State University. As visitors to campus, all SMB participants must follow The Ohio State University <a href="https://policies.osu.edu/assets/policies/Policy-NDH-Sexual-Misconduct.pdf" style="color: #ff4242">Policy on Non-Discrimination, Harassment, and Sexual Misconduct</a>.</small>

	  </div>
	</div>
	</br>
	</br>
</footer>